
.footer_title
{
  text-align: center;
  font-size: var(--size-xs);  
  font-weight:400;
  text-transform:uppercase;
  letter-spacing:0.2em;
  user-select: none;
}

.footer_link
{
  font-size:1rem;
  text-decoration:none;
  font-weight: 600;
  color:var(--clr-dark);
  letter-spacing:-0.05em;
  transition:color 0.3s;
}

.footer_link:hover{
  color: var(--clr-light);
}
/* xs */
@media(min-width:475px )
{
 

}
/* sm */
@media(min-width:640px )
{
 
}
/*md */
@media(min-width:768px )
{
  
}
/* lg */
@media(min-width:1024px )
{
  
}
/*xl */
@media(min-width:1280px )
{
  
}
/* 2xl */
@media(min-width:1536px )
{
  
}
